:root {
  --primery-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-bcg-color: #2f303a;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: var(--primery-title-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.0769230769;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header-navigation__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  display: inline-block;
}

.header-list {
  display: flex;
  margin: 32px 0;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    margin-left: 87px;
  }
}
.header-list .header-list__item + .header-list__item {
  margin-left: 50px;
}
.header-list__link {
  color: var(--primery-title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 36px 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .header-list__link {
    padding: 32px 0;
  }
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}
.header-list__link--active {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.header-contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
  }
}
.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.header-contacts__link {
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  fill: #757575;
  justify-content: start;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-contacts__link .header-contacts__logo {
  margin-right: 10px;
}

.portfolio-header {
  border: 1px solid #ececec;
}

.menu-open {
  background-color: #ffffff;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  background-color: #ffffff;
  border: none;
  display: block;
  margin-left: auto;
  position: absolute;
  right: 15px;
  top: 10px;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 48px 0 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}
.mob-menu-list__link--active {
  color: #2196f3;
}
.mob-menu-list__link:active {
  color: #2196f3;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-list {
  display: flex;
  margin-top: 64px;
}
.mob-soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
}

.mob-soc-list__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: var(--footer-bcg-color);
  max-width: 1600px;
  margin: 0 auto;
  min-height: 400px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Img/hero-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Img/header-img-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Img/header-img-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
  }
}
.hero__button {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feauture-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .feauture-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feauture-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.feauture-list__title {
  color: var(--primery-title-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feauture-list__title {
    text-align: start;
  }
}
.feauture-list__text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.7;
}
.feauture-list__icon {
  background: #f5f4fa;
  border-radius: 4px;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .feauture-list__icon {
    max-width: 354px;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  gap: 30px;
}
.work-list__item {
  position: relative;
}
.work-list__text {
  position: absolute;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.work-list__text--active {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .team-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 60px) / 4);
  }
}
.team-list__title {
  color: var(--primery-title-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.team-list__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}
.team-list-icon__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
  border-radius: 50%;
}
.team-list-icon__link:hover, .team-list-icon__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team-list-icon__svg {
  fill: #afb1b8;
}
.team-list-icon__link:hover .team-list-icon__svg {
  fill: #ffffff;
}
.team-list-icon__link:focus .team-list-icon__svg {
  fill: #ffffff;
}

.clients-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--transition);
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  outline: none;
}
.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--transition);
}
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-bcg-color);
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer__address {
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .adrress-list {
    text-align: center;
    padding-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .adrress-list {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .adrress-list {
    text-align: start;
  }
}

.adrress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list__link--logo {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}
@media screen and (min-width: 480px) {
  .adress-list__link--logo {
    font-size: 24px;
    line-height: 1.1666666667;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress-list__link {
    text-align: start;
  }
}
.adress-list__link--adress {
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  font-style: normal;
  transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}
.adress-list__link--adress:hover, .adress-list__link--adress:focus {
  color: var(--accent-color);
}
.adress-list__link--contacts {
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}
.adress-list__link--contacts:hover, .adress-list__link--contacts:focus {
  color: var(--accent-color);
}

.footer-connect {
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-connect {
    margin-top: 12px;
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .footer-connect {
    margin-top: 12px;
  }
}
.footer-connect__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.connect-list {
  gap: 10px;
  display: flex;
  justify-content: center;
}
.connect-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
}
.connect-list__link:focus, .connect-list__link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.connect-list__icon {
  fill: #ffffff;
}

.footer-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    margin-top: 12px;
  }
}
.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-form__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: start;
  }
}

.footer-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-form-container {
    flex-wrap: nowrap;
  }
}
.footer-form-container__input {
  height: 50px;
  width: 100%;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .footer-form-container__input {
    width: 358px;
  }
}
.footer-form-container__button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
}
@media screen and (min-width: 1200px) {
  .footer-form-container__button {
    margin-top: 0;
  }
}
.footer-form-container__icon {
  position: absolute;
  right: 28px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primery-title-color);
  margin-bottom: 12px;
}

.form-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}
.form-label:not(:first-child) {
  margin-top: 10px;
}
.form-label__textarea {
  width: 100%;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form-label__textarea:focus {
  border: 1px solid #2196f3;
}

.label-container {
  position: relative;
  height: 40px;
  margin-top: 4px;
}
.label-container__input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms var(--accent-color);
}
.label-container__input:focus {
  border-color: #2196f3;
}
.label-container__icon {
  position: absolute;
  left: 12px;
  transform: translateY(-50%);
  top: 50%;
  transition: fill 250ms var(--transition);
}
.label-container__input:focus ~ .label-container__icon {
  fill: var(--accent-color);
}
.label-container__input:focus + .label-container__icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.checkbox {
  margin-top: 20px;
}
.checkbox__input:checked + .checkbox-list span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #ffffff;
}

.checkbox-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox-list {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox-list span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  color: transparent;
  transition: background-color 250ms var(--transition), border-color 250ms var(--transition), color 250ms var(--transition);
  text-align: center;
}
.checkbox-list__link {
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .checkbox-list__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox-list__icon {
  fill: currentColor;
}

.form-button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  justify-content: center;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}
.form-button:hover, .form-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-button {
  color: #000000;
  right: 8px;
  top: 8px;
  padding: 6px;
  position: absolute;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-button__icon {
  transition: fill 250ms var(--transition);
}
.modal-button__icon:hover, .modal-button__icon:hover {
  fill: var(--accent-color);
}

.radio-buttons {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .radio-buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .radio-buttons {
    margin-bottom: 50px;
  }
}
.radio-buttons__button {
  background-color: #f5f4fa;
  color: var(--primery-title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms var(--transition), background-color 250ms var(--transition), color 250ms var(--transition);
}
.radio-buttons__button:hover, .radio-buttons__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 0;
  gap: 28px;
}
@media screen and (min-width: 1200px) {
  .cards-list {
    gap: 30px;
  }
}
.cards-list__item {
  max-width: 370px;
}
.cards-list__link {
  transition: cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms;
  outline: none;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .cards-list__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.cards-list__link:hover, .cards-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-container {
  width: 450px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .cards-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-container {
    width: 370px;
  }
}
.cards-container__text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  max-width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-list__link:hover .cards-container__text, .cards-list__link:focus .cards-container__text {
  transform: translateY(0);
  border: 1px solid #eeeeee;
}

.cards-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .cards-box {
    width: 354px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .cards-box {
    width: 370px;
  }
}
.cards-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);
}
.cards-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */