.footer {
  background-color: var(--footer-bcg-color);
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
  &__address {
    font-style: normal;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.adrress-list {
  @include tablet {
    text-align: center;
    padding-left: 76px;
  }
  @include desktop {
    padding: 0;
  }
}

.adrress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list__link {
  &--logo {
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31px / 26px);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
    @include mobile {
      font-size: 24px;
      line-height: calc(28px / 24px);
      text-align: center;
    }
  }
  &--adress {
    font-weight: 400;
    line-height: 1.7;
    color: #ffffff;
    font-style: normal;
    transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &--contacts {
    font-weight: 400;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer-connect {
  margin: 0 auto;
  margin-top: 60px;
  @include desktop {
    margin-top: 12px;
    margin-left: 70px;
  }
  @include tablet {
    margin-top: 12px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
}

.connect-list {
  gap: 10px;
  display: flex;
  justify-content: center;
  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms;
    &:focus,
    &:hover {
      background-color: var(--accent-color);
      border-radius: 50%;
    }
  }
  &__icon {
    fill: #ffffff;
  }
}

.footer-form {
  @include desktop {
    margin-left: 93px;
  }

  margin-top: 60px;
  @include desktop {
    margin-left: 93px;
    margin-top: 12px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    @include tablet {
      text-align: center;
    }
    @include desktop {
      text-align: start;
    }
  }
}

.footer-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    flex-wrap: nowrap;
  }
  &__input {
    height: 50px;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 16px;
    @include desktop {
      width: 358px;
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    border-color: transparent;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    @include desktop {
      margin-top: 0;
    }
  }
  &__icon {
    position: absolute;
    right: 28px;
    fill: #ffffff;
  }
}
