.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  &__link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(28px / 26px);
    color: #000000;

    @include tablet {
      font-weight: 700;
      font-size: 24px;
      line-height: calc(28px / 24px);
      letter-spacing: 0.03em;
    }
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  display: inline-block;
}

.header-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  margin: 32px 0;
  margin-left: 93px;
  @include tablet {
    margin-left: 87px;
  }
  & &__item + &__item {
    margin-left: 50px;
  }
  &__link {
    color: var(--primery-title-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 36px 0;
    @include tablet {
      padding: 32px 0;
    }
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--active {
      color: var(--accent-color);
      position: relative;
    }
  }
}

.current::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
  margin-left: auto;
  &__item:not(:last-child) {
    margin-bottom: 10px;
    @include desktop {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  &__link {
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    fill: #757575;
    justify-content: start;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
    .header-contacts__logo {
      margin-right: 10px;
    }
  }
}

.portfolio-header {
  border: 1px solid #ececec;
}
